{% extends "head.html" %}

{% load static %}

{% block css %}
<link href="{% static 'css/member.css' %}" rel="stylesheet">
{% endblock %}

{% block content_body %}

<body class="text-center is-background is-screen">
    <form class="form-signin" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <img class="main-icon mb-4" src="{% static 'images/main_icon.png' %}" width="150" height="150">
        {{form.email}}
        {{form.password}}
        <div class="checkbox mt-2 mb-3">
            <label>
                <input type="checkbox" id="remember_user_id"> 아이디 저장
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
        <br>
        <a href="{% url 'register' %}">회원가입</a> | <a href="">아이디/비밀번호 찾기</a>
        <p class="mt-5 mb-0 text-muted">Hanalum</p>
        <p class="mt-0 text-muted">&copy; 2017-{% now 'Y' %}</p>
    </form>

    {% if login_is_failed %}
        <script type="text/javascript">
             alert('올바른 회원 정보를 입력하세요.');
        </script>
    {% endif %}

    {% if need_authentication %}
        <script type="text/javascript">
            alert('이메일 인증이 필요합니다.');
        </script>
    {% endif %}


    {% if registered %}
        <script type="text/javascript">
            alert('회원가입 성공! 이메일 인증이 필요합니다.');
        </script>
    {% endif %}

    <script type="text/javascript">
    $(document).ready(function(){
        // 저장된 쿠키값을 가져와서 ID 칸에 넣어준다. 없으면 공백으로 들어감.
        var user_id_key = getCookie("user_id_key");
        $("#user_id").val(user_id_key);

        if($("#user_id").val() != ""){ // 그 전에 ID를 저장해서 처음 페이지 로딩 시, 입력 칸에 저장된 ID가 표시된 상태라면,
            $("#remember_user_id").attr("checked", true); // ID 저장하기를 체크 상태로 두기.
        }

        $("#remember_user_id").change(function(){ // 체크박스에 변화가 있다면,
            if($("#remember_user_id").is(":checked")){ // ID 저장하기 체크했을 때,
                setCookie("user_id_key", $("#user_id").val(), 7); // 7일 동안 쿠키 보관
            }else{ // ID 저장하기 체크 해제 시,
                deleteCookie("user_id_key");
            }
        });

        // ID 저장하기를 체크한 상태에서 ID를 입력하는 경우, 이럴 때도 쿠키 저장.
        $("#user_id").keyup(function(){ // ID 입력 칸에 ID를 입력할 때,
            if($("#remember_user_id").is(":checked")){ // ID 저장하기를 체크한 상태라면,
                setCookie("user_id_key", $("#user_id").val(), 7); // 7일 동안 쿠키 보관
            }
        });
    });

    function setCookie(cookieName, value, exdays){
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + exdays);
        var cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
        document.cookie = cookieName + "=" + cookieValue;
    }

    function deleteCookie(cookieName){
        var expireDate = new Date();
        expireDate.setDate(expireDate.getDate() - 1);
        document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
    }

    function getCookie(cookieName) {
        cookieName = cookieName + '=';
        var cookieData = document.cookie;
        var start = cookieData.indexOf(cookieName);
        var cookieValue = '';
        if(start != -1){
            start += cookieName.length;
            var end = cookieData.indexOf(';', start);
            if(end == -1)end = cookieData.length;
            cookieValue = cookieData.substring(start, end);
        }
        return unescape(cookieValue);
    }
    </script>
</body>

{% endblock %}