{% extends "head.html" %}

{% load static %}

{% block content_body %}

<body class="text-center is-background">
    <form class="form-signin" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <img class="main-icon mb-4" src="{% static 'images/main_icon.png' %}" width="150" height="150">
        {{form.email}}
        {{form.password}}
        <div class="checkbox mt-2 mb-3">
            <label>
                <input type="checkbox" value="remember-me"> 아이디 저장
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
        <br>
        <a href="">회원가입</a> | <a href="">아이디/비밀번호 찾기</a>
        <p class="mt-5 mb-0 text-muted">Hanalum</p>
        <p class="mt-0 text-muted">&copy; 2017-{% now 'Y' %}</p>
    </form>
</body>

{% endblock %}