{% extends "nav.html" %}

{% load static %}

{% block css %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="left" >
    <div class="petition mb-3"> <!-- #청원 게시판 hot -->
        {% include 'board_petition.html' %}
    </div>
    <div class="free mb-3"> <!-- #자유 게시판 hot -->
        {% include 'board_free.html' %}
    </div>
    <div class="calender mb-3"> <!-- #달력 -->
    </div>
</div>

<div class="right">
    <div class="white-board mb-3"> <!--#화이트 보드 사진 -->
        {% include 'whiteboard.html' %}
    </div>
    <div class="weafoo mb-3">
        <div class="weather"> <!--날씨-->
            {% include 'weather.html' %}
        </div>
        <div class="schoolfood"> <!--급식-->
            schoolfood
        </div>
    </div>
    <div class="youtube mb-3"> <!--유튜브-->
        {% include 'youtube.html' %}
    </div>
</div>


<!-- 경식이 올때까지 봉인
<div class="checkbox-space">
    <div class="checkbox-board">
    </div>
</div>-->

{% endblock %}