{% extends "nav.html" %}

{% load static %}

{% block css %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="left" >
    {% if boards %}
        {% for board in boards %}
        <div class="free mb-3"> <!-- #자유 게시판 hot -->
            {% include 'hot_article.html' %}
        </div>
        {% endfor %}

    {% endif %}
    <div class="emailform mb-3"> <!-- #달력 -->
        {% include 'emailform.html' %}
    </div>
</div>

<div class="right">
    <div class="white-board mb-3"> <!--#화이트 보드 사진 -->
        {% include 'whiteboard.html' %}
    </div>
    <div class="weafoo mb-3 d-flex">
        <div class="weather"> <!--날씨-->
            {% include 'weather.html' %}
        </div>
        <div class="schoolfood"> <!--급식-->
            {% include 'cafeteria.html' %}
        </div>
    </div>
    <div class="youtube mb-3 d-flex"> <!--유튜브-->
        {% include 'youtube.html' %}
    </div>
</div>


<!-- 경식이 올때까지 봉인
<div class="checkbox-space">
    <div class="checkbox-board">
    </div>
</div>-->
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){ 
            {% if article_popups %}
                {% for article in article_popups %}
                    var popoup = window.open("{% url 'popup' article.id %}", "", "width=800,height=600,location=no,menubar=no,status=no,titilebar=no,resizable=no,");
            
                    console.log({{article.id}});
                {% endfor %}
            {% endif %}
        })
    </script>
{% endblock %}
