{% extends "nav.html" %}

{% load static %}

{% block css %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="left" >
    <div class="petition"> <!-- #청원 게시판 hot -->
    </div>
    <div class="free"> <!-- #자유 게시판 hot -->
    </div>
    <div class="calender"> <!-- #달력 -->
    </div>
</div>

<div class="right">
    <div class="white-board"> <!--#화이트 보드 사진 -->
        {% include 'main2.html' %}

    </div>
    <div class="whefoo">
        <div class="schoolfood"> <!--급식-->

        </div>
        <div class="wheather"> <!--날씨-->

        </div>
    </div>
    <div class="youtube"> <!--유튜브-->
        <div class="y1">
        </div>
        <div class="y2">
        </div>
        <div class="y3">
        </div>
    </div>
</div>


<!-- 경식이 올때까지 봉인
<div class="checkbox-space">
    <div class="checkbox-board">
    </div>
</div>-->

{% endblock %}