asgiref==3.2.10
beautifulsoup4==4.9.1
Django==3.1.1
django-ckeditor==6.0.0
django-colorfield==0.3.2
django-js-asset==1.2.2
django-material==1.7.0
django-material-admin==1.7.8
Pillow==9.0.1
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
