{% extends "nav.html" %}

{% load static %}

{% block css %}
<link href="{% static 'css/member.css' %}" rel="stylesheet">
<link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
{% endblock %}

{% block content %}
  <div class="container">

	<ul class="tabs">
		<li class="tab-link current" data-tab="tab-1">회원정보 수정</li>
		<li class="tab-link" data-tab="tab-2">회원탈퇴</li>
	</ul>

	<div id="tab-1" class="tab-content current container memberinfo">
      <form method = "POST" action = "{% url 'memberinfo' %}" class="form-register">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_email">이메일</label>
        <input type="text" value="{{user.email}}" class="form-control" id="id_email" disabled>
      </div>
      <div class="mb-3">
        <label for="{{form.password1.id_for_label}}">{{form.password1.label}}</label>
        {{form.password1}}
      </div>
      <div class="mb-3">
        <label for="{{form.password2.id_for_label}}">{{form.password2.label}}</label>
        {{form.password2}}
      </div>
      <div class="mb-3">
        <label for="{{form.avatar.id_for_label}}">{{form.avatar.label}}</label>
        {{form.avatar}}
      </div>
      <div class="mb-3">
        <label for="{{form.nickname.id_for_label}}">{{form.nickname.label}}</label>
        {{form.nickname}}
        <div class="register_error ml-3 mb-2">{{nickname_error}}</div>
      </div>
      <div class="mb-3">
        <label for="id_realname">실명</label>
        <input type="text" value="{{user.realname}}" class="form-control" id="id_realname" disabled>
      </div>
      <div class="mb-3">
        <label for="id_gender">성별</label>
        <input type="text" value="{{user.get_gender_display}}" class="form-control" id="id_gender" disabled>
      </div>
      <div class="mb-3">
        <label for="id_admission_year">입학년도</label>
        <input type="text" value="{{user.admission_year}}" class="form-control" id="id_admission_year" disabled>
      </div>
      <hr>
      <button class="btn btn-primary btn-lg btn-block" type="submit">회원정보 수정</button>
      </form>
	</div>
	<div id="tab-2" class="tab-content container memberdelete">
      <form method = "POST" action = "{% url 'memberdelete' %}" class="form-register">
        {% csrf_token %}
        <p>탈퇴를 원하신다면 현재 비밀번호를 입력해주세요.</p>
        <div class="row-delete mb-3">
          <input name="password" id="password" type="password" class="form-control" placeholder="비밀번호를 입력하세요">
          <button class="btn btn-primary btn-lg btn-delete" type="submit">회원탈퇴</button>
        </div>
      </form>
	</div>
  </div>

  <script>
  $(document).ready(function(){

	$('ul.tabs li').click(function(){
		var tab_id = $(this).attr('data-tab');

		$('ul.tabs li').removeClass('current');
		$('.tab-content').removeClass('current');

		$(this).addClass('current');
		$("#"+tab_id).addClass('current');
	})

  })
  </script>
  <script>
    $(document).ready(function(){
    $('.pwd i').on('click',function(){
        $('input').toggleClass('active');
        if($('input').hasClass('active')){
            $(this).attr('class',"fa fa-eye-slash fa-lg")
            .prev('input').attr('type',"text");
        }else{
            $(this).attr('class',"fa fa-eye fa-lg")
            .prev('input').attr('type','password');
        }
    });
  });
  </script>



{% endblock %}