{% extends "nav.html" %}

{% load static %}

{% block css %}
<link href="{% static 'css/acadnotice.css' %}" rel="stylesheet">
{% endblock %}

{% block content%}

<div class="container mt-4 ml-5" class="">
    <div class="row noticebox">
        <div class="col-2 py-3 text-center noticetitle"> 학사공지 </div>
        <div class="col-8 noticebox-inner">
            <div class="notice-item active">1제목~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</div>
            <div class="notice-item">2제목~~~~~~~~~~~~~~~~~~~~~~</div>
            <div class="notice-item">3제목~~~~~~~~~~~~~~~</div>
        </div>
    </div>
</div>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("notice-item");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";  
    }
    if(slideIndex >= 3) slideIndex = 0;
    slideIndex++;
    slides[slideIndex-1].style.display = "block";  
    setTimeout(showSlides, 3000);
}
</script>
{% endblock %}