{% extends "nav.html" %}

{% load static %}

<link href="{% static 'css/acadnotice.css' %}" rel="stylesheet">


<div class="my-3 shadow-sm row w-50 float-right">
    <div class="noticetitle col-3 bg-info text-light">학사공지</div>
    <div class="roll-area">
        <ul class="noticelist col-9">
            <li>Uno</li>
            <li>Dos</li>
            <li>Tres</li>
            <li>Uno</li>
        </ul>
    </div>
</div>

<script>
    $(function() {
        var count = $('.noticelist li').length;
        var height = $('.noticelist li').height();
        
        function ascend(index) {
            $('.noticelist').delay(3000).animate({
                top: -height * index,
             }, 500, function() {
                if(index < count - 1) ascend((index + 1));
                else $('.noticelist').css({top: 0}), ascend(1);
            });
        }        
        ascend(1);
    });
</script>
