{% extends "nav.html" %}

{% load static %}

{% block css %}
<link href="{% static 'css/acadnotice.css' %}" rel="stylesheet">
{% endblock %}

{% block content%}

<div id="container noticebox ">
    <div class="row my-4 border">
        <div class="col-2 noticetitle">학사공지</div>
        <div class="col-10" id="notice-list">
            <div>
                <ol>
                    <li><a href="#">1111111111</a></li>
                    <li><a href="#">22222222222222222</a></li>
                    <li><a href="#">333333</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        var count = $('#notice-list li').length;
        var height = $('#notice-list li').height();
        
        function step(index) {
            $('#notice-list ol').delay(3000).animate({
                top: -height * index,
             }, 500, function() {
                if(index < count) step((index + 1));
                else $('#notice-list ol').css({top: 0}), step(1);
            });
        }
        
        step(1);
    });
</script>
{% endblock %}