{% load static %}

<link href="{% static 'css/widget_cafeteria.css' %}" rel="stylesheet">

<div class="cafeteria m-4">
  <div class="top-box bg-blue">
    <label class="pointer-boxl">
      <i class="fa fa-caret-left fa-4x" aria-hidden="true"></i>
    </label>
    <p class="top-text">오늘의 급식</p>
    <p class="day-text">- 2020/xx/xx -</p>
    <label class="pointer-boxr">
      <i class="fa fa-caret-right fa-4x" aria-hidden="true"></i>
    </label>
  </div>

  <div class="content-box">
    <div class="food-box">
      <div class="border-bottom border-gray">
        <p class="food-time">조식</p>
      </div>
      <div class="mt-3">
        <span class="food-menu">시리얼<br>우유</span>
      </div>
    </div>

    <div class="food-box">
      <div class="border-bottom border-gray">
        <p class="food-time">중식</p>
      </div>
      <div class="mt-3">
        <span class="food-menu">밥<br>국</span>
      </div>
    </div>
    <div class="food-box">
      <div class="border-bottom border-gray">
        <p class="food-time">석식</p>
      </div>
      <div class="mt-3">
        <span class="food-menu">고기<br>야채</span>
      </div>
    </div>
  </div>
</div>
