{% load static %}

<link href="{% static 'css/widget_cafeteria.css' %}" rel="stylesheet">

<div class="cafeteria">
  <div class="top-box bg-blue">
    <label class="pointer-boxl">
      <i class="fa fa-caret-left fa-2x" aria-hidden="true"></i>
    </label>
    <p class="top-text">오늘의 급식</p>
    <p class="day-text">- {{weather.present_date|date:"M d D"}} -</p>
    <label class="pointer-boxr">
      <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    </label>
  </div>

  <div class="content-box d-flex">
    <div class="time-box">
      {% for cafeteria_object in cafeteria_list %}
      <div class="m-auto">
        <div class="foodtime-box {% if cafeteria_object.id == 'breakfast' %} clicked {% endif %}" id="foodtime-{{cafeteria_object.id}}">
          {{cafeteria_object.title}}
        </div>
      </div>
      {% endfor %}
    </div>
    {% for cafeteria_object in cafeteria_list %}
    <div class="foodtext-box {% if cafeteria_object.id != 'breakfast' %} d-none {% endif %}" id="foodtext-{{cafeteria_object.id}}">
      {% for menu in cafeteria_object.menu %}
      <div class="m-auto">
        <span class="food-menu">{{menu}}</span>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

<script type="text/javascript">
var foodtime = $('.foodtime-box');
var foodtext = $('.foodtext-box');

$('#foodtime-breakfast').click(function(){
    foodtime.removeClass("clicked");
    $('#foodtime-breakfast').addClass("clicked");
    foodtext.addClass("d-none");
    $('#foodtext-breakfast').removeClass("d-none");
});
$('#foodtime-lunch').click(function(){
    foodtime.removeClass("clicked");
    $('#foodtime-lunch').addClass("clicked");
    foodtext.addClass("d-none");
    $('#foodtext-lunch').removeClass("d-none");
});
$('#foodtime-dinner').click(function(){
    foodtime.removeClass("clicked");
    $('#foodtime-dinner').addClass("clicked");
    foodtext.addClass("d-none");
    $('#foodtext-dinner').removeClass("d-none");
});
</script>
