{% load static %}

<link href="{% static 'css/widget_cafeteria.css' %}" rel="stylesheet">

<div class="cafeteria">
  <div class="top-box bg-blue">
    <label class="pointer-boxl">
      <i class="fa fa-caret-left fa-2x" aria-hidden="true"></i>
    </label>
    <p class="top-text">오늘의 급식</p>
    <p class="day-text">- 2020/xx/xx -</p>
    <label class="pointer-boxr">
      <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    </label>
  </div>

  <div class="content-box">
    {% for cafeteria_object in cafeteria_list %}
    <div class="food-box">
      <div class="border-bottom border-gray">
        <p class="food-time">{{cafeteria_object.title}}</p>
      </div>
      <div class="mt-2">
        {% for menu in cafeteria_object.menu %}
          <span class="food-menu">{{menu}}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
