
<head>
  <meta charset="utf-8">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/offcanvas/">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link  rel="stylesheet" href="calandar.css">
  <link href="offcanvas.js" rel="stylesheet">
  <title>자유 게시판</title>
</head>

<main role="main" class="container">
  <div class="my-3 bg-white rounded shadow-sm">
    <div class="month-box">
      <p>2019</p>
    </div>
    <div class="day-box">

    </div>
  </div>

</main>
