{% extends "board_template.html" %}

{% load static %}

{% block board_title %}
    <div class="board_title free-title" style="background-color: {{board.represent_color}}">
        <a href="{% url 'board' board.board_id %}">{{board.title}} HOT</a>
    </div>
{% endblock %}


{% block board_content %}
    {% for article in board.articles %}
        <div class="main_board_content">
            <div class="board_content_title">
                <a href="{% url 'article' article_id=article.pk %}">{{article}}</a>
            </div>
            <div class="board_content_date">
                {{article.created_at.month}}.{{article.created_at.day}}
            </div>
        </div>

    {% endfor %}
{% endblock %}