{% load static %}

<link href="{% static 'css/widget_snslink.css' %}" rel="stylesheet">

<!--사이드바 좌측 하단 링크!-->
<div class = "snsimg">
    <a class="img1" href = "https://www.facebook.com/hmhanalum/" target="_blank"><img src="{% static 'images/facebook.png' %}" alt="Facebook"></a>
    <a class="img2" href = "https://www.instagram.com/hm.hanalum/" target="_blank"><img src="{% static 'images/instagram.png' %}" alt="instagram"></a>
    <a class="img3" href = "https://hanmin.riroschool.kr/" target="_blank"><img src="{% static 'images/riroschool.png' %}" alt="riroschool"></a>
</div>