{% load static %}

<!--
present_img
present_temp
present_state
present_compare
present_air

future_img
future_temp
future_state
future_percentage
-->

<link href="{% static 'css/widget_weather.css' %}" rel="stylesheet">

  <div class="weather_today">
    <!--<img src="{{weather.present_img}}" alt="">-->
    <div class="weather_describe">
      {% if weather.present_state == "흐림" %}
      <img src="{% static 'images/weather/if-weather-38-2682813_90756.png' %}" alt="">
      {%endif%}
      {% if weather.present_state == "맑음" %}
      <img src="{% static 'images/weather/if-weather-3-2682848_90785.png' %}" alt="">
      {%endif%}
      {% if weather.present_state == "구름" %}
      <img src="{% static 'images/weather/if-weather-1-2682850_90755.png' %}" alt="">
      {%endif%}
      {% if weather.present_state == "구름많음" %}<!--이미지 구름과 동일-->
      <img src="{% static 'images/weather/if-weather-1-2682850_90755.png' %}" alt="">
      {%endif%}
      {% if weather.present_state == "구름조금" %}<!--이미지 구름과 동일-->
      <img src="{% static 'images/weather/if-weather-1-2682850_90755.png' %}" alt="">
      {%endif%}
      {% if weather.present_state == "구름많고 한때 비" %}<!--이미지 구름과 동일-->
      <img src="{% static 'images/weather/if-weather-1-2682850_90755.png' %}" alt="">
      {%endif%}
      {% if weather.present_state == "흐리고 가끔 비" %}<!--이미지 흐림과 동일-->
      <img src="{% static 'images/weather/if-weather-38-2682813_90756.png' %}" alt="">
      {%endif%}
      {% if weather.present_state == "흐리고 비" %}<!--이미지 비와 동일-->
      <img src="{% static 'images/weather/if-weather-16-2682835_90780.png' %}" alt="">
      {%endif%}
      {% if weather.present_state == "뇌우" %}
      <img src="{% static 'images/weather/if-weather-11-2682840_90759.png' %}" alt="">
      {%endif%}
      {% if weather.present_state == "비" %}
      <img src="{% static 'images/weather/if-weather-16-2682835_90780.png' %}" alt="">
      {%endif%}
      {% if weather.present_state == "소나기" %}
      <img src="{% static 'images/weather/if-weather-6-2682845_90770.png' %}" alt="">
      {%endif%}
      {% if weather.present_state == "소낙비" %}
      <img src="{% static 'images/weather/if-weather-6-2682845_90770.png' %}" alt="">
      {%endif%}
      {% if weather.present_state == "산성비" %}
      <img src="{% static 'images/weather/if-weather-32-2682819_90762.png' %}" alt="">
      {%endif%}
      {% if weather.present_state == "강우" %}
      <img src="{% static 'images/weather/if-weather-24-2682827_90757.png' %}" alt="">
      {%endif%}
      {% if weather.present_state == "바람" %}
      <img src="{% static 'images/weather/if-weather-9-2682842_90782.png' %}" alt="">
      {%endif%}
      {% if weather.present_state == "눈" %}
      <img src="{% static 'images/weather/if-weather-35-2682816_90779.png' %}" alt="">
      {%endif%}
      {% if weather.present_state == "안개" %}
      <img src="{% static 'images/weather/if-weather-30-2682821_90800.png' %}" alt="">
      {%endif%}
      
      <div class="comment">        
        <div><p><b><center>오늘 {{weather.present_date|date:"n/d"}}</center></b></div>
        <div><p><center>{{weather.present_temp}}℃ {{weather.present_state}}</center></p></div>        
        <div><p><center>어제와 비교해서 {{weather.present_compare}}℃</center></p></div>
        <div><p><center>미세먼지: {{weather.present_air}}</center></p></div>
      </div>

    </div>
  </div>
<div class="weather_tomorrow">
  <div class="weather_describe">
    <b>내일 </b>
    <!--<img src="{{weather.future_img}}" alt="">-->
      {% if weather.future_state == "흐림" %}
      <img src="{% static 'images/weather/if-weather-38-2682813_90756.png' %}" alt="">
      {%endif%}
      {% if weather.future_state == "맑음" %}
      <img src="{% static 'images/weather/if-weather-3-2682848_90785.png' %}" alt="">
      {%endif%}
      {% if weather.future_state == "구름" %}
      <img src="{% static 'images/weather/if-weather-1-2682850_90755.png' %}" alt="">
      {%endif%}
      {% if weather.future_state == "구름많음" %}<!--이미지 구름과 동일-->
      <img src="{% static 'images/weather/if-weather-1-2682850_90755.png' %}" alt="">
      {%endif%}
      {% if weather.future_state == "구름조금" %}<!--이미지 구름과 동일-->
      <img src="{% static 'images/weather/if-weather-1-2682850_90755.png' %}" alt="">
      {%endif%}
      {% if weather.future_state == "구름많고 한때 비" %}<!--이미지 구름과 동일-->
      <img src="{% static 'images/weather/if-weather-1-2682850_90755.png' %}" alt="">
      {%endif%}
      {% if weather.future_state == "흐리고 가끔 비" %}<!--이미지 흐림과 동일-->
      <img src="{% static 'images/weather/if-weather-38-2682813_90756.png' %}" alt="">
      {%endif%}
      {% if weather.future_state == "흐리고 비" %}<!--이미지 비와 동일-->
      <img src="{% static 'images/weather/if-weather-16-2682835_90780.png' %}" alt="">
      {%endif%}
      {% if weather.future_state == "뇌우" %}
      <img src="{% static 'images/weather/if-weather-11-2682840_90759.png' %}" alt="">
      {%endif%}
      {% if weather.future_state == "비" %}
      <img src="{% static 'images/weather/if-weather-16-2682835_90780.png' %}" alt="">
      {%endif%}
      {% if weather.future_state == "소나기" %}
      <img src="{% static 'images/weather/if-weather-6-2682845_90770.png' %}" alt="">
      {%endif%}
      {% if weather.future_state == "소낙비" %}
      <img src="{% static 'images/weather/if-weather-6-2682845_90770.png' %}" alt="">
      {%endif%}
      {% if weather.future_state == "산성비" %}
      <img src="{% static 'images/weather/if-weather-32-2682819_90762.png' %}" alt="">
      {%endif%}
      {% if weather.future_state == "강우" %}
      <img src="{% static 'images/weather/if-weather-24-2682827_90757.png' %}" alt="">
      {%endif%}
      {% if weather.future_state == "바람" %}
      <img src="{% static 'images/weather/if-weather-9-2682842_90782.png' %}" alt="">
      {%endif%}
      {% if weather.future_state == "눈" %}
      <img src="{% static 'images/weather/if-weather-35-2682816_90779.png' %}" alt="">
      {%endif%}
      {% if weather.future_state == "안개" %}
      <img src="{% static 'images/weather/if-weather-30-2682821_90800.png' %}" alt="">
      {%endif%}
        
    {{weather.future_temp}}℃ {{weather.future_state}} {{weather.future_percentage}}
  </div>
</div>
