{% load static %}

<link href="{% static 'css/weekcalendar.css' %}" rel="stylesheet">

<div class="container border">
    <div class="row">
        <div class="col">지난주</div>
        <div class="col today">2020년5월8일</div>
        <div class="col">다음주</div>
    </div>
    <div class="row">
        <div class="col">월</div>
        <div class="col">화</div>
        <div class="col">수</div>
        <div class="col">목</div>
        <div class="col">금</div>
        <div class="col">토</div>
        <div class="col">일</div>
    </div>
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<script>
</script>
