{% extends "nav.html" %}

{% load static %}

{% block css %}
<link href="{% static 'css/board.css' %}" rel="stylesheet">
{% endblock %}

{% block content%}

<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-blue rounded shadow-sm">
  <img class="mr-3" src="{% static 'images/board.png' %}" alt="" width="48" height="48">
  <div class="lh-100 mb-0">
    <h4 class="mb-0 text-white lh-100">{{board}}</h4>
  </div>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
  <table class="post_table">
    <thead>
      <tr>
        <th class="thtitle py-2">게시글 제목</th>
        <th class="thprof py-2">글쓴이</th>
        <th class="thview py-2">조회</th>
        <th class="thlike py-2">추천</th>
        <th class="thdate py-2">날짜</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
      <tr>
        <td class="tdtitle"><a href="{% url 'article' article_id=article.pk %}">{{article}}</a></td>
        <td class="tdprof">
          <img class="prof_img" src="{% static 'images/no-profile.png' %}" alt="" width="30" height="30">
          {{article.pub_user}}
        </td>
        <td class="tdview">
          {{article.num_view}}
        </td>
        <td class="tdlike">
          {{article.num_good}}
        </td>
        <td class="tddate">{{article.pub_date|date:'m-d'}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex mt-3">
      <select class="post_search border-primary col col-md-2">
        <option>전체</option>
        <option>제목</option>
        <option>내용</option>
        <option>글쓴이</option>
        <option>제목+내용</option>
      </select>
      <input class="post_search border-primary col col-md-6" placeholder="제목을 입력하시오">
      <button class="btn btn-primary col-md-1">검색</button>
      <button class="btn btn-success mx-3" id="post" onclick="location.href='{% url 'write' board_id=board_id %}' ">글쓰기</button>
  </div>
  <nav class="text-center mt-3 container">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled"><a class="page-link"href="#">처음</a></li>
      <li class="page-item disabled"><a class="page-link"href="#">이전</a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">6</a></li>
      <li class="page-item"><a class="page-link" href="#">7</a></li>
      <li class="page-item"><a class="page-link" href="#">8</a></li>
      <li class="page-item"><a class="page-link" href="#">9</a></li>
      <li class="page-item"><a class="page-link" href="#">10</a></li>
      <li class="page-item"><a class="page-link" href="#">다음</a></li>
      <li class="page-item"><a class="page-link" href="#">끝</a></li>
    </ul>
  </nav>
</div>
{% endblock %}
