{% extends "nav.html" %}

{% load static %}

{% block css %}
<link href="{% static 'css/article.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.title }}
        {{ form.content }}
        <div class="custom-file mb-3">
            {{ form.file_1 }}
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <div class="custom-file mb-3">
            {{ form.file_2 }}
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <div class="custom-file mb-3">
            {{ form.file_3 }}
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>

        <input type="submit" class="btn btn-primary" value="작성"/>
    </form>
    <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
</div>
{% endblock %}