main .lh-100 { line-height: 1; }
main .lh-125 { line-height: 1.25; }
main .lh-150 { line-height: 1.5; }

.django-ckeditor-widget { width:100%; }

.form-control:disabled, .form-control[readonly]{
    background-color: white;
}

.input-group-append .input-group-text{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-append a{
    display: block;
    width: 100%;
    height: 100%
}