.bg-blue {
    background-color: #000179;
    max-height: 65;
}

/* 테이블 */
.post_table {
    text-align:center;
    vertical-align:middle;
    width: 100%;
    margin-bottom: 0.7rem;
    color: #000;
    background-color: #FFF;
}

.post_table th, .post_table td {
    padding: 0.5rem 1rem;
    vertical-align: middle;
}

.post_table thead{
    border-bottom: 0.2px solid #000;
}

/* 게시글 목록 너비 정의 */
.thtitle {
    width: auto;
}
.thprof {
    width: 130px;
}
.thview {
    width: 70px;
}
.thlike {
    width: 70px;

}
.thdate {
    width: 70px;
}
.prof_img {
    float:left;
    margin-right:6px
}

/* 게시글 정의 */
.tdtitle {
    text-align:left;
}
.tdprof {
    line-height:30px;
}
/*
.order_arrow {
    font-size: 0.6rem;
    display: inline-grid;
    vertical-align:middle;
    padding: 0.5rem 0 0.7rem 0.5rem;
}
.order_arrow > a {
    color:#000;
}
.pagingbox > a {
    font-size: 1rem;
    margin-left: 0.3rem;
}*/

/* 검색, 글쓰기 */

.post_search {
    border-width: 2px;
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: 5px;
}

.post_search:focus {
    outline:none;
}
