.cafeteria{
    display:inline-block;
    width: 500px;
    height: 400px;
}
.cafeteria .content-box {
    float: left;
    background-color:#ffffff;
    width: 100%;
    height: 75%;
    border-radius: 0px 0px 5px 5px;
}
.cafeteria .top-box {
    background-color: #5ce191;
    width: 100%;
    height:25%;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}
.cafeteria .food-box {
    width: 33.333%;
    float: left;
    padding-top: 20px;
}


.pointer-boxl {
    float: left;
    color: #f8f8f8;
    position: absolute;
    top: 30%;
    left: 5%;
}
.pointer-boxl:hover{
    color: #f8f8f86e
}
.pointer-boxr {
    float: right;
    color:#f8f8f8;
    position: absolute;
    top: 30%;
    right: 5%;
}
.pointer-boxr:hover{
    color:#f8f8f86e
}
.top-text {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    padding-top: 30px;
    margin-bottom: auto;
}
.day-text {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
}
.food-time {
    text-align: center;
    font-size: 20px;
    color: #5ce191;
    font-weight: 700;
}
.food-menu {
    text-align: center;
    display: grid;
    line-height:2em;
}
