body {
  font-size: .875rem;
  display: flex;
  background-color: #f5f5f5;
}

.is-background {
    background-image: url('../images/hanmin_background.jpg');
    background-size: cover;
    background-attachment: fixed;
}
/* open in smartphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .is-background {
        background-image: url('../images/hanmin_background_media.jpg');
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* open in smartphone */
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* nav open and hide */
.slide-anim{
  transition: 0.3s;
}

.side-button{
  z-index:1;
  position: fixed;
  top: 70px;
  left: 16.6%;
  margin-left:-30px;
}
.side-button:hover{
  margin-left:0;
}
.side-button .slider{
  cursor: pointer;
  background-color: #4CAF50;
  padding: 20px 0 20px 10px;
  width: 50px;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

nav.side-hide{
    left:-16.6%;
}
.side-button.side-hide{
    left:0%;
}
main.side-hide{
    margin:auto;
}