body {
  display: flex;
  background-color: #f5f5f5;
}

html{
  font-size: 16px !important;
}

@media (max-width: 576px) {
    html{
        font-size: 14px !important;
    }
}

/* 배경 */
.is-background {
    background-image: url('../images/hanmin_background.jpg');
    background-size: cover;
    background-attachment: fixed;
}
/* open in smartphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .is-background {
        background-image: url('../images/hanmin_background_media.jpg');
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* open in smartphone */
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* Content, 반응형 */

.content {
    width: 100%;
    padding-top: 1rem;
}

main{
    width: 100%;
    display: flex;
    overflow: hidden;
    padding-top: 50px; /* Space for fixed navbar */
}

.main-text {
    font-size: 20px;
    color: #4b4b4b;
}

[role="main"] {
    margin-left: 250px;
}

/* 반응형 디자인 (모바일버전) */
@media (max-width: 768px) {
    [role="main"] {
        margin-left:0;
    }
}


/* 기타 클래스 */

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.no-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}