/* Sidebar */

.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 43px 0 0; /* Height of navbar */
    background: #ffffff;
}

.sidebar .profile {
    border-color: #e5e5e5;
    border-width: 1px 0 1px 0;
    border-style: solid;
    padding: 9px;
    background-color: #ffffff;
}

.sidebar .profile a:hover {
    text-decoration: none;
}

.sidebar .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-left:5px;
    margin-top:3px
}

.sidebar .nickname {
    width: 155px;
    display:inline-block;
    margin-left: 7px;
    color:black;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: lighter;
}

.sidebar .navbar-nav{
    flex-direction: row;
    padding-left:0.5rem;

}

.sidebar .nav-item {
    width: 70px;
}

.sidebar .nav-item .nav-link{
    color: #9da6bb;
    background-color: white;
    border-style:solid;
    border-color: #9da6bb;
    text-align:center;
    line-height:8px;
    border-radius:5px;
    border-width:0.1rem;
    font-size:12px;
    margin:0;
    width:64px;
    height:26px;
    padding:7px;
}

.sidebar .category-box .categories {
    padding: 15px;
}

.sidebar .category {
    list-style: none;
    margin-top: 10px;
}

.sidebar .category div {
    cursor:pointer;
    font-size: 20px;
    padding: 5px;
}

.sidebar .category div:hover {
    background-color: #5aabff;
    color: white;
    font-weight: bold
}

.sidebar .category .hide{
    display:none;
    padding: 0px;
    list-style: none;
}

.sidebar .category .hide li {
    padding: 5px;
    padding-left: 40px;
    font-size: 15px;
}
.sidebar .category .hide li a {
     text-decoration: none;
     color: black;
}

.sidebar .category .hide li:hover {
    background-color: #5aabff;
    font-weight: bold;
    font-size: 18px;
}

.sidebar .category .hide li:hover>a {
    color: white;
}

/* SNS 링크 */
.snslink{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/* 사이드 바 사이드에 붙어있게 하기 */
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}


/* Sidebar animation */

.slide-anim{
  transition: 300ms;
}

.side-button{
  z-index: 1;
  position: fixed;
  top: 62px;
  left: 250px;
  margin-left: -30px;
}


.side-button:hover{
  margin-left:0;
}

.side-button .slider{
  cursor: pointer;
  background-color: #3f7eff;
  padding: 20px 0 20px 9px;
  width: 50px;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

/* if Sidebar clicked */

.sidebar.side-clicked{
    left:-250px;
}
.side-button.side-clicked{
    left:0px;
}
main.side-clicked{
    margin-left: 0;
}

/* mobile */

@media (max-width: 900px) {
    .sidebar{
        left:-250px;
    }
    .sidebar.side-clicked{
        left:0px;
    }
    .side-button{
        left:0px;
    }
    .side-button:hover{
      margin-left:-30px;
    }
    .side-button.side-clicked{
        left:250px;
    }
}

/* 상단바 (navbar) */

/* 상단바에 검색칸 있을때 .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}*/

.navbar-color {
    background-color: #ffffff;
    border-bottom: 1px solid#e5e5e5;
}

.img-title {
    width: 120px;
    margin-left: 10px;
    display: block;
}

.etc{
    margin-left:2px;
    }