.cafeteria{
    display:inline-block;
    width: 100%;
    height: 100%;
}
.cafeteria .content-box {
    float: left;
    background-color: #FFF;
    width: 100%;
    height: 70%;
    border-radius: 0px 0px 5px 5px;
}
.cafeteria .top-box {
    background-color: #5ce191;
    width: 100%;
    height:30%;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}
.cafeteria .food-box {
    width: 33.333%;
    float: left;
    margin-top: 0.7rem;
}
/* 화살표 */
.pointer-boxl {
    float: left;
    color: #f8f8f8;
    position: absolute;
    top: 30%;
    left: 5%;
}
.pointer-boxl:hover{
    color: #f8f8f86e
}
.pointer-boxr {
    float: right;
    color:#f8f8f8;
    position: absolute;
    top: 30%;
    right: 5%;
}
.pointer-boxr:hover{
    color:#f8f8f86e
}
/* text */
.cafeteria p{
    margin: 0;
}
.top-text {
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 500;
    padding-top: 0.7rem;
}
.day-text {
    text-align: center;
    font-size: 0.8rem;
    color: #ffffff;
    font-weight: 400;
}
.food-time {
    text-align: center;
    font-size: 1rem;
    color: #5ce191;
    font-weight: 700;
}
.food-menu {
    text-align: center;
    display: grid;
    line-height: 0.7rem;
    font-size: 0.6rem;
}
