.weather_tomorrow, .weather_today {
    font-size: 0.8rem;
}
.weather_tomorrow b, .weather_today b {
    font-size: 1rem;
}

.weather {
    border-radius: 7px 7px 7px 7px;
}

.weather_today {
    height: 130px;
    display:flex;
    margin:0;
    border-bottom: 0.2rem solid #f5f5f5;
}

.weather_today .weather_describe {
    margin:0;
    width: 100%;
    display: flex;
    align-items: center;
}

.weather_today .weather_describe img {
    width: 40%;
    float: left;
}

.weather_today .weather_describe .comment {
    width:100%;
    margin:0;
    padding:0.8rem;
    float: right;
}

.weather_tomorrow {
    height: 80px;
    line-height: 80px;
    width: 100%;
    text-align: center;
}
.weather_tomorrow img {
    width: 20%;
    vertical-align: middle;
}