{% extends "head.html" %}

{% block content_body %}

{% load extratags %}
{% load static %}

<body data-gr-c-s-loaded="true">
    <nav class="navbar navbar-color fixed-top flex-md-nowrap p-0">
      <a href="{% url 'main' %}"> <img class="img-title" src="{% static 'images/title.png' %}" alt=""> </a>
      <ul class="navbar-nav px-3" style="padding-bottom:5px; padding-top:5px; ">
        <li class="nav-item text-nowrap">
          <a class="nav-link logout" href="{% url 'logout' %}"><strong>로그아웃</strong></a>
        </li>
      </ul>
    </nav>


    <div class="container-fluid">
      <div class="row">
        <nav class="sidebar shadow-sm slide-anim">
          <div class="profile">
            <a href="{% url 'memberinfo' %}">
            {% if user.avatar %}
            <img class="profile-image" src="/media/{{user.avatar}}">
            {% else %}
            <img class="profile-image" src="{% static 'images/no-profile.png' %}">
            {% endif %}
            </a>
            <div class="nickname">
                {{user}}
            </div>
          </div>
          <div class="category-box">
            <ul class="categories">
              {% for each_category in category %}
                <li class="category" id="flip">
                    <div class="no-drag">{{each_category}}</div>
                    <ul class="boards hide">
                        {% for each_unit in unit %}
                            {% if each_unit.upper_category == each_category %}
                                <li class="board no-drag"><a href="{{each_unit.menu_url}}">{{each_unit}}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
              {% endfor %}
            </ul>
          </div>
        </nav>

        <div class="side-button slide-anim">
          <i class="fa fa-outdent slider" aria-hidden="true"></i>
        </div>

        <main role="main" class="px-4 slide-anim">
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </main>
      </div>
    </div>


    <script type="text/javascript">
         // 전역변수
         var side = $('.sidebar');
         var side_bt = $('.side-button');
         var main = $('main');

        // 사이트 화면 새로고침 시
        $(document).ready(function(){
            // 메뉴오픈
            $("#flip>div").click(function(){
                var submenu = $(this).next("ul");

                if( submenu.is(":visible") ){
                    submenu.slideUp();
                }else{
                    submenu.slideDown();
                }
            });

            // 메뉴 좌측으로 넣기
            $('.slider').click(function(){
                side.toggleClass('side-clicked');
                side_bt.toggleClass('side-clicked');
                main.toggleClass('side-clicked');
            });
        });
    </script>

</body>
{% endblock %}